.docs-header {
    color: #fff;
    line-height:25px;
    background-color: #002459;
    background-image: none;
    margin: 0;
    text-align: left;
    padding: 10px;
}

.page-header{
  color: #fff;
  background-color: #002459;
  background-image: none;
}

.breadcrumbs{
    padding: 10px;
    line-height:30px;
    background-color: #17BF87 !important;
    color: #FFF !important;
}

.btn{
  background-color: #17BF87;

}

.btn:hover{
  background-color: #002459;

}

.row {
	display: flex;
}
