<header>
  <section class="page-header">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/imgs/logo.png" /></a>
    <h1 class="project-name">Kalyzee tech center</h1>
    <h2 class="project-tagline">Kast SDK, Open source projects, tech blog</h2>

    <a href="{{ site.author.github }}" class="btn">View on GitHub</a>
    <a href="{{ site.sdk.remote_sdk_py }}" class="btn">Download Remote SDK Python</a>
    <a href="{{ site.sdk.remote_sdk_js }}" class="btn">Download Remote SDK Javascript</a>

  </section>
</header>
